In [45]:
import sqlite3

In [46]:
conn = sqlite3.connect("customer.db")

c = conn.cursor()

In [47]:
#create a table

c.execute("""
    CREATE TABLE customers(
        first_name text,
        last_name text,
        Email text
)""")

conn.commit()

#close the connection

In [48]:
c.execute("""
    INSERT INTO customers VALUES (
               'Mary',
               'hail',
               'mh@codemy.com'
               )""")

print("Command executed succesfully!...")
conn.commit()

Command executed succesfully!...

In [49]:
c.execute("""
    INSERT INTO customers VALUES (
               'Mary',
               'Brown',
               'mary@codemy.com'
               )""")

print("Command executed succesfully!...")
conn.commit()

Command executed succesfully!...

In [50]:
c.execute("SELECT * FROM customers")
# print(c.fetchone()[1])
# c.fetchmany(3)
# print(c.fetchall())

items = c.fetchall()

print(items)
conn.commit()

[('Mary', 'hail', 'mh@codemy.com'), ('Mary', 'Brown', 'mary@codemy.com')]

In [51]:
c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()
for item in items:
    print(item)

(1, 'Mary', 'hail', 'mh@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')

In [52]:
c.execute("SELECT rowid, * FROM customers WHERE email LIKE '%@codemy%'")

items = c.fetchall()
for item in items:
    print(item)

(1, 'Mary', 'hail', 'mh@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')

In [53]:
c.execute("""
    UPDATE customers SET first_name ='bob'
    WHERE last_name = 'Elder'
""")
c.execute("SELECT * FROM customers")

items = c.fetchall()
for item in items:
    print(item)
conn.commit()

('Mary', 'hail', 'mh@codemy.com')
('Mary', 'Brown', 'mary@codemy.com')

In [54]:
c.execute("""
    UPDATE customers SET first_name ='john'
    WHERE rowid = 1
""")
c.execute("SELECT rowid,* FROM customers")

items = c.fetchall()
for item in items:
    print(item)
conn.commit()

(1, 'john', 'hail', 'mh@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')

In [55]:
c.execute("DELETE from customers WHERE rowid = 7")
c.execute("SELECT rowid,* FROM customers")
items = c.fetchall()
for item in items:
    print(item)
conn.commit()

(1, 'john', 'hail', 'mh@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')

In [56]:
#order by
c.execute("SELECT rowid,* FROM customers ORDER BY last_name")
items = c.fetchall()
for item in items:
    print(item)
conn.commit()

(2, 'Mary', 'Brown', 'mary@codemy.com')
(1, 'john', 'hail', 'mh@codemy.com')

In [59]:
#order by
c.execute("SELECT rowid,* FROM customers LIMIT 2")
items = c.fetchall()
for item in items:
    print(item)
conn.commit()

(1, 'john', 'hail', 'mh@codemy.com')
(2, 'Mary', 'Brown', 'mary@codemy.com')

In [ ]:
c.execute("DROP TABLE customers")
conn.commit()